.profileDetails {
  margin-top: 2rem;
  margin-bottom: 20px;
  padding: 20px 0;
  border-radius: 20px;
  background: #f9fafc;
  // box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  @media screen and (max-width: 960px) {
    grid-row: 1;
  }
  @media screen and (max-width: 580px) {
    box-shadow: none;
  }
}

.profileImageDiv {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.profileAvatar {
  max-width: 150px;
  width: 100%;
  border-radius: 100px;
  margin-bottom: 10px;
}

.notifications {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: #dc3434;

  display: none;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 5px;
  right: 120px;
}
.userNameEmail {
  background: #fff;

  margin: 10px 20px;
  padding: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media screen and (max-width: 580px) {
    padding: 0;
    margin: 0;
    box-shadow: none;
  }
}
.userName {
  padding: 0 20px;
  font-weight: 600;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  @media screen and (max-width: 341px) {
    font-size: 23px;
  }
}

.userEmail {
  padding: 0 20px;
  opacity: 0.6;
  font-size: 20px;
  @media screen and (max-width: 341px) {
    font-size: 17px;
  }
}

.balanceH2 {
  font-size: 20px;
  @media screen and (max-width: 341px) {
    font-size: 16px;
  }
}
.balance {
  padding-left: 10px;
  color: rgb(9, 212, 9);
}

// ═════════════════════███
// ═══════════════════█████
// ══════════════════██████
// ════════════════███████
// ═══════════════████████
// ═══════════════████████
// ══════════════██████████
// ══════════════██████████
// ══════════════███████████══════════════███
// ══════════════████████████═══════════████
// ═══════█══════█████████████════════██████
// ═══════████════█████████████══════███████
// ═══════█████═══██████████████════████████
// ═══════██████═══███████████████══████████
// ═══════███████══██████████████████████████
// ═══════███████══██████████████████████████
// ══════████████══███████████████████████████
// ═════█████████═██████████══█████████████████
// ═══██████████████████████═══█████████████████
// ══███████████████████████═══██████████████████
// ══███████████████████████════█████████████████
// ═████████████████═██████════███████████████████
// ═████████████████══███══════███═███████████████
// ═███████████████═══█════════██══███████████████
// ═██████████████═════════════██══██████████████
// ═██████████████══════════════█════███████████
// ══████████████═════════════════════█████████
// ════██████████═════════════════════████████
// ══════████████═════════════════════██████
// ═════════██████═══════════════════████
// ═════════════█████══════════════████

.expenses {
  max-width: 1200px;
  padding: 0;
  margin: 0 auto;
}

.graph {
  width: 100%;
  display: flex;
  padding: 10px;

  @media screen and (max-width: 591px) {
    width: 95%;
  }
  @media screen and (max-width: 581px) {
    width: 95%;
    padding-left: 30px;
    padding-rigth: 0px;
  }
  @media screen and (max-width: 401px) {
    display: none;
  }
}

.expensesCard {
  background-color: #fff;
  border-radius: 30px;
  display: grid;
  grid-template-columns: repeat(3, auto);

  justify-content: center;
  // align-items: center;

  padding: 15px 40px;
  margin: 30px auto;
  @media screen and (max-width: 1205px) {
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
  }
  @media screen and (max-width: 960px) {
    grid-template-columns: repeat(1, auto);
    grid-template-rows: repeat(3, auto);
  }
  @media screen and (max-width: 620px) {
    height: 100%;
    margin: 0 0;
    border-radius: 0;
  }
}

.expensesOverview {
  padding: 1rem;
  border-radius: 20px;

  @media screen and (max-width: 960px) {
    grid-row: 2;
  }

  @media screen and (max-width: 401px) {
    padding: 0;
    font-size: 14px;
  }
}

.expensesHeader {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  @media screen and (max-width: 740px) {
    justify-content: center;
    align-items: center;
  }
}

.expensesTitle {
  padding-top: 20px;
  font-weight: 600;
  font-size: 40px;
  @media screen and (max-width: 401px) {
    font-size: 34px;
  }
}

.expensesActions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.addIcon {
  cursor: pointer;
  margin-left: -6rem;
}
.dateRange {
  margin-top: 1rem;
  opacity: 0.5;
  margin-bottom: 2rem;
  @media screen and (max-width: 401px) {
    display: none;
  }
}

.expensesOverviewHeader {
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1rem;
  border-bottom: 0.5px solid #dedede;
}

.expensesOverviewTitle {
  font-size: 18px;
  font-weight: 600;
}

.expenseOption {
  cursor: pointer;
}

.expenseItem {
  margin: 1rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.expenseItemLeft {
  display: flex;
  align-items: center;
}

.expenseItemDiv {
  width: 48px;
  height: 48px;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
  @media screen and (max-width: 380px) {
    width: 40px;
    height: 40px;
  }
  @media screen and (max-width: 350px) {
    width: 35px;
    height: 35px;
  }
  @media screen and (max-width: 331px) {
    width: 30px;
    height: 30px;
  }
  @media screen and (max-width: 319px) {
    display: none;
  }
}
.expenseItemDetails {
  margin-left: 1rem;
  @media screen and (max-width: 319px) {
    margin-left: 0;
  }
}

.expenseItemTitle {
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.expenseItemTime {
  opacity: 0.5;
}

.expenseItemPrice {
  font-weight: 600;
}

.moneyOverview {
  max-width: 400px;
  background-color: #f9fafc;
  border-radius: 30px;
  padding: 25px 10px;
  margin: 30px 0;
  overflow-y: scroll;
  @media screen and (max-width: 1205px) {
    grid-column: 2;
    max-width: 600px;
    justify-self: center;
    margin-top: 50px;
  }
  @media screen and (max-width: 960px) {
    grid-row: 3;
    grid-column: 1;
  }
}

.spendCategory {
  display: flex;
  justify-content: space-between;
}

.moneyOverviewTitle {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 3rem;
}

.spendCategoryName {
  font-weight: 500;
}

.spendCategoryBar {
  background-color: #eceff5;
  position: relative;
  border-radius: 5px;
  margin-bottom: 2rem;
  margin-top: 1rem;
}

.spendCategoryColoredBar {
  height: 5px;
  background-color: #2673e2;
  position: absolute;
  border-radius: 5px;
}

.saveMoneyDiv {
  margin: 0 auto;
  background-color: #edf0f6;
  margin-top: 4rem;
  padding: 1rem;
  border-radius: 15px;

  position: relative;
  // @media screen and (max-width: 1005px) {
  //   display: none;
  // }
}

.boxes {
  position: absolute;
  top: -15px;
  left: 29px;
}

.plant {
  position: absolute;
  top: -31px;
  left: 187px;
}

.saveMoneyTitle {
  font-weight: 600;
  margin-top: 4rem;
}

.saveMoneyInfo {
  opacity: 0.7;
  margin-top: 0.5rem;
  line-height: 21px;
  letter-spacing: 0.428571px;
}

.button {
  cursor: pointer;
  font-size: 13px;
  background-color: #101010;
  border-radius: 8px;
  color: white;
  font-weight: 500;
  // letter-spacing: 1.5px;
  padding: 10px 20px;
  margin-top: 1.5rem;

  display: flex;
  justify-content: center;
}
.buttonn {
  @media screen and (max-width: 580px) {
    margin-top: 0.8rem;
    margin-bottom: 15px;
  }
  cursor: pointer;
  font-size: 13px;
  background-color: #101010;
  border-radius: 8px;
  color: white;
  font-weight: 500;
  // letter-spacing: 1.5px;
  padding: 10px 20px;
  margin-top: 1.5rem;

  display: flex;
  justify-content: center;
}
